.searchContainer {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  padding: 5px 10px;
  cursor: pointer;

  border-bottom: 1px solid var(--text-primary);
}

.searchContainer i {
  font-size: 18px;
  margin-right: 10px;
}

.searchInput {
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}

.searchResult {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--bg-light);
  z-index: 1000;
}

.searchResultItem {
  padding: 10px 20px;
  color: var(--text-on-light);
}

.searchResultItem:hover {
  color: var(--text-on-hightlight);
  background: var(--bg-hightlight);
}
