.container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  padding: 20px;
}

.toggleBtn {
  margin-right: 10px;
}

.toggleBtn i {
  font-size: var(--title-text-size);
}

.toggleBtn:hover i {
  color: var(--text-highlight);
}
