.container {
  display: flex;
}

.page {
  font-size: var(--title-text-size);
  padding: 10px;
  background: var(--bg-lighter2);
  border-right: 1px solid var(--text-grey);
}

.page:hover {
  color: var(--text-on-teal);
  background: var(--bg-teal);
}

.page.active {
  color: var(--text-highlight);
}

.page.active:hover {
  color: var(--text-highlight);
  background: var(--bg-lighter2);
}

.ellipsis {
  cursor: default;
  padding: 10px;
  background: var(--bg-lighter2);
}
