.container {
  display: flex;
}

.page {
  font-size: var(--title-text-size);
  color: var(--text-on-lighter2);
  background: var(--bg-lighter2);
  padding: 10px;
  margin-right: 2px;
}

.page:hover {
  color: var(--text-on-teal);
  background: var(--bg-teal);
}

.page.active {
  color: var(--text-highlight);
}

.page.active:hover {
  color: var(--text-highlight);
  background: var(--bg-lighter2);
  cursor: default;
}

.page.disabled:hover {
  color: var(--text-on-lighter2);
  background: var(--bg-lighter2);
  cursor: default;
}

.ellipsis {
  cursor: default;
  padding: 10px;
  background: var(--bg-lighter2);
}
