.container {
  flex-basis: 50%;
  height: 200px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.container:nth-child(2n) {
  padding-left: 10px;
  padding-right: 0;
}

.gameCard {
  display: flex;
  height: 100%;
  padding: 20px;
  background: var(--bg-white);
  color: var(--text-on-white);
}

.gameCard:hover .gameCardTitle {
  color: var(--text-orange);
}

.gameCardImg {
  width: 140px;
  height: 140px;
  min-width: 140px;

  object-fit: contain;

  background: var(--bg-primary);
}

.gameCardText {
  padding-left: 20px;
  overflow: hidden;
}

.gameCardTitle {
  font-size: var(--title-text-size);
  font-weight: 900;
  margin-bottom: 5px;
}

.gameCardDescription {
  font-size: var(--body-text-size);
  overflow: hidden;
  text-overflow: ellipsis;
}
