.container {
  flex-basis: 50%;
  height: 200px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.gameCard {
  display: flex;
  height: 100%;
  background: var(--bg-opaque);
  box-shadow: 0px 1px 5px 0px rgba(200, 200, 20, 0.1);
  padding: 20px;
  margin-right: 20px;
}

.gameCard:hover .gameCardTitle {
  color: var(--text-highlight);
}

.gameCardImg {
  width: 140px;
  height: 140px;

  object-fit: contain;
  border-radius: 50%;
}

.gameCardText {
  padding-left: 20px;
  overflow: hidden;
}

.gameCardTitle {
  font-size: 24px;
}

.gameCardDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}
