@media (min-width: 1401px) {
  .container {
    width: 20%;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;

    object-fit: contain;

    background: var(--bg-primary);
  }

  .container:nth-child(5n) {
    padding-left: 10px;
    padding-right: 0;
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  .container {
    width: 25%;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;

    object-fit: contain;

    background: var(--bg-primary);
  }

  .container:nth-child(4n) {
    padding-left: 10px;
    padding-right: 0;
  }
}

@media (min-width: 1101px) and (max-width: 1300px) {
  .container {
    width: 33%;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .container:nth-child(3n) {
    padding-left: 10px;
    padding-right: 0;
  }

  .img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;

    object-fit: contain;

    background: var(--bg-primary);
  }
}

@media (min-width: 601px) and (max-width: 1100px) {
  .container {
    width: 50%;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .container:nth-child(2n) {
    padding-left: 10px;
    padding-right: 0;
  }

  .img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;

    object-fit: contain;

    background: var(--bg-primary);
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding-bottom: 20px;
  }

  .img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;

    object-fit: contain;

    background: var(--bg-primary);
  }
}

.gameCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background: var(--bg-lighter2);
  color: var(--text-on-lighter2);
}

.textWrapper {
  flex-grow: 1;
}

.title {
  display: flex;
  font-size: var(--title-text-size);
  line-height: var(--title-line-height);
  color: var(--text-on-lighter2);
  font-weight: 900;
  width: 100%;
  margin-bottom: 10px;
}

.title:hover,
.title:focus {
  color: var(--text-highlight);
}

.description {
  font-size: var(--body-text-size);
  overflow: hidden;
  margin-bottom: 5px;
}

.link {
  font-weight: 700;
  padding-bottom: 3px;
  font-size: 12px;
  line-height: 12px;
  color: var(--text-highlight);
}

.link svg {
  margin-left: 5px;
}
