@media (min-width: 1261px) {
  .container {
    flex-basis: 33%;
    height: 200px;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .container:nth-child(3n) {
    padding-left: 10px;
    padding-right: 0;
  }

  .img {
    width: 140px;
    height: 140px;
    min-width: 140px;

    object-fit: contain;

    background: var(--bg-primary);
  }
}

@media (min-width: 870px) and (max-width: 1260px) {
  .container {
    flex-basis: 50%;
    height: 200px;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .container:nth-child(2n) {
    padding-left: 10px;
    padding-right: 0;
  }

  .img {
    width: 140px;
    height: 140px;
    min-width: 140px;

    object-fit: contain;

    background: var(--bg-primary);
  }
}

@media (min-width: 401px) and (max-width: 870px) {
  .container {
    flex-basis: 100%;
    height: 200px;
    padding-bottom: 20px;
  }

  .img {
    width: 140px;
    height: 140px;
    min-width: 140px;

    object-fit: contain;

    background: var(--bg-primary);
  }
}

@media (max-width: 400px) {
  .container {
    flex-basis: 33%;
    flex-basis: 100%;
    height: 200px;
    padding-bottom: 20px;
  }
  .img {
    width: 100px;
    height: 140px;
    min-width: 100px;

    object-fit: contain;

    background: var(--bg-primary);
  }
}

.gameCard {
  display: flex;
  height: 100%;
  padding: 20px;
  background: var(--bg-white);
  color: var(--text-on-white);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.title {
  font-size: var(--title-text-size);
  color: var(--text-on-white);
  font-weight: 900;
}

.title:hover,
.title:focus {
  color: var(--text-highlight);
}

.description {
  flex-grow: 1;
  font-size: var(--body-text-size);
  overflow: hidden;
}

.link {
  font-weight: 700;
  background: var(--bg-teal);
  color: var(--text-on-teal);
  padding: 5px 10px;
  align-self: flex-start;
}

.link:hover {
  background: var(--bg-lighter);
}
