.container {
  display: flex;
  flex-wrap: wrap;
}

.filterBtn {
  display: flex;
  padding: 10px;
  background: var(--bg-lighter2);
  margin: 1px;
  border: 1px solid transparent;
}

.filterBtn:hover {
  border: 1px solid var(--text-primary);
}

.filterBtn.active {
  color: var(--text-on-teal);
  background: var(--bg-teal);
}
