.left {
  position: fixed;
  left: 20px;
  bottom: 50px;
  opacity: 0.9;
  font-size: 25px;
  outline: none;
  padding: 10px;
  z-index: 10000;
  touch-action: none;
}

.up {
  position: fixed;
  left: 55px;
  bottom: 85px;
  opacity: 0.9;
  font-size: 25px;
  outline: none;
  padding: 10px;
  z-index: 10000;
  touch-action: none;
}

.right {
  position: fixed;
  left: 95px;
  bottom: 50px;
  opacity: 0.9;
  font-size: 25px;
  outline: none;
  padding: 10px;
  z-index: 10000;
  touch-action: none;
}

.down {
  position: fixed;
  left: 55px;
  bottom: 15px;
  opacity: 0.9;
  font-size: 25px;
  outline: none;
  padding: 10px;
  z-index: 10000;
  touch-action: none;
}

.escape {
  position: fixed;
  left: 40px;
  bottom: 140px;
  opacity: 0.5;
  font-size: 14px;
  outline: none;
  z-index: 10000;
  touch-action: none;

  display: flex;
  justify-content: center;
  width: 60px;
  padding: 5px 10px;

  color: var(--text-on-silver);
  background: var(--bg-silver);
  user-select: none;
}

.enter {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  font-size: 14px;
  outline: none;
  z-index: 10000;
  touch-action: none;

  display: flex;
  justify-content: center;
  width: 60px;
  padding: 5px 10px;

  color: var(--text-on-silver);
  background: var(--bg-silver);
  user-select: none;
}

.space {
  position: fixed;
  right: 20px;
  bottom: 60px;
  opacity: 0.5;
  font-size: 14px;
  outline: none;
  z-index: 10000;
  touch-action: none;

  display: flex;
  justify-content: center;
  width: 60px;
  padding: 5px 10px;

  color: var(--text-on-silver);
  background: var(--bg-silver);
  user-select: none;
}

.tab {
  position: fixed;
  right: 20px;
  bottom: 100px;
  opacity: 0.5;
  font-size: 14px;
  outline: none;
  z-index: 10000;
  touch-action: none;

  display: flex;
  justify-content: center;
  width: 60px;
  padding: 5px 10px;

  color: var(--text-on-silver);
  background: var(--bg-silver);
  user-select: none;
}
