.container {
  background: var(--bg-lighter);
  padding: var(--viewport-padding);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.announcement {
  font-size: var(--title-text-size);
  font-weight: 700;
  padding: var(--viewport-padding);
  background: var(--bg-primary);
}

.announcement a {
  display: inline;
  color: var(--text-highlight);
}
