.container {
  min-height: calc(100vh - 200px);
}

.announcement {
  font-size: var(--title-text-size);
  font-weight: 700;
  padding: var(--viewport-padding);
}

.announcement a {
  display: inline;
  color: var(--text-highlight);
}
