.container {
  min-height: calc(100vh - 200px);
}

.announcement {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
  padding: var(--viewport-padding);
}

.announcement a {
  display: inline;
  color: var(--text-highlight);
}
