.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--viewport-padding);
  background: var(--bg-primary);
  height: var(--header-height);
}

.leftContainer {
  display: flex;
}

.rightContainer {
  display: flex;
}

.searchContainer {
  padding: 0 var(--viewport-padding) var(--viewport-padding);
}

.logo {
  display: flex;
  align-items: center;

  font-size: var(--title-text-size);
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo svg {
  color: var(--text-highlight);
  font-size: 18px;
  margin-right: 10px;
}

.localeLink {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-grey);
  background: var(--bg-lighter);
}

.localeLink div {
  opacity: 0.5;
  padding: 0 10px;
  line-height: 20px;
  height: 20px;
  font-size: var(--text-body-size);
  font-weight: 800;
}

.localeLink .active {
  opacity: 1;
  color: var(--text-on-teal);
  background: var(--bg-teal);
}

.spacer {
  margin: 0 10px;
}
