.container {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--viewport-margin);
  padding: 20px 0;
  font-family: "PT Sans Narrow";
}

.leftContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  font-size: 24px;
  color: var(--text-highlight);
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo i {
  font-size: 32px;
  margin-right: 10px;
}

.link {
  font-size: 24px;
  text-decoration: none;

  margin-right: 60px;
  letter-spacing: 2px;
}

.link:hover {
  color: var(--text-highlight);
}

.link.current {
  color: var(--text-highlight);
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
}

.hamburger:hover {
  color: var(--text-highlight);
}
