.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--viewport-padding);
  background: var(--bg-primary);
  height: var(--header-height);
}

.leftContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  align-items: baseline;
}

.logo {
  display: flex;
  align-items: center;

  font-size: var(--title-text-size);
  color: var(--text-highlight);
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo svg {
  font-size: 24px;
  margin-right: 10px;
}

.link {
  color: var(--text-faded);
  font-size: var(--title-text-size);
  text-decoration: none;

  margin-right: 60px;
}

.link:hover {
  color: var(--text-highlight);
}

.link.active {
  color: var(--text-highlight);
}

.localeLink {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-grey);
}

.localeLink div {
  opacity: 0.8;
  padding: 0 10px;
}

.localeLink .active {
  opacity: 1;
  background: var(--bg-blue);
}

.localeLink:hover :not(.active) {
  opacity: 1;
}
