.container {
  height: calc(100vh - 200px);
}

.faqContainer {
  color: var(--text-lighter);
  background: var(--bg-lighter);
  padding: var(--viewport-padding);
  max-width: 800px;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
}

.faqContainer a {
  color: var(--text-highlight);
}

.faqContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.faqContainer::-webkit-scrollbar-track {
  background: transparent;
  margin-top: var(--viewport-padding);
}

/* Handle */
.faqContainer::-webkit-scrollbar-thumb {
  background: var(--bg-silver);
  border-radius: 5px;
}

/* Handle on hover */
.faqContainer::-webkit-scrollbar-thumb:hover {
  background: var(--bg-azure);
}

.faqQuestion {
  font-size: var(--title-text-size);
  font-weight: 900;
  word-break: break-word;
}

.faqAnswer {
  font-size: var(--body-text-size);
  word-break: break-word;
}
