.container {
  margin: 0 var(--viewport-margin);
  min-height: calc(100vh - 200px);
}

.gameContianer {
  display: flex;
  margin-top: 50px;
}

.gameCard {
  display: flex;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px 0px rgba(200, 200, 20, 0.1);

  flex-basis: 50%;
  height: 200px;
  padding: 20px;
}

.gameCard:hover .gameCardTitle {
  color: var(--text-highlight);
}

.gameCardImg {
  width: 160px;
  height: 160px;

  object-fit: contain;
  border-radius: 50%;
}

.gameCardText {
  padding-left: 20px;
  overflow: hidden;
}

.gameCardTitle {
  font-size: 24px;
}

.gameCardDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchContainer {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  padding: 5px 10px;
  cursor: pointer;

  border-bottom: 1px solid var(--text-primary);
}

.searchContainer i {
  font-size: 18px;
}

.searchIcon {
  margin-right: 10px;
}

.searchInput {
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}
