.container {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 5px 10px;
  max-width: 300px;
  cursor: pointer;

  color: var(--text-on-lighter);
  border-bottom: 1px solid var(--text-on-lighter);
}

.container svg {
  color: var(--text-on-lighter);
  font-size: var(--body-text-size);
}

.searchIcon {
  margin-right: 10px;
}

.form {
  flex-grow: 1;
}

.input {
  color: var(--text-on-lighter);
  font-size: var(--body-text-size);
  border: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.input:focus {
  outline: none;
}

.closeIcon:hover svg {
  color: var(--text-highlight);
}
