.searchContainer {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 5px 10px;
  cursor: pointer;
  height: 35px;
  max-width: 500px;

  color: var(--text-on-white);
  border-bottom: 1px solid var(--text-on-white);
}

.searchContainer:focus .searchIcon,
.searchContainer:hover .searchIcon {
  transform: scale(1.2);
}

.searchContainer i {
  color: var(--text-on-white);
  font-size: var(--body-text-size);
}

.searchIcon {
  margin-right: 10px;
}

.searchInput {
  color: var(--text-on-white);
  font-size: var(--body-text-size);
  border: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}

.closeIcon:hover {
  transform: scale(1.2);
  color: var(--text-red);
}
