:root {
  --bg-hightlight: #28abb9;
  --text-highlight: #41c6c3;

  --bg-primary: #000;
  --text-primary: #eee;

  --bg-lighter: #222;
  --text-on-lighter: #eee;

  --bg-white: #fff;
  --text-on-white: #000;

  --bg-silver: #eee;
  --text-on-silver: #000;

  --bg-blue: #2d46b9;
  --text-on-blue: #fff;

  --bg-orange: #ff4632;
  --text-on-orange: #000;

  --bg-purple: #cb1582;
  --text-on-purple: #000;

  --bg-azure: #a5ffef;
  --text-on-azure: #cb1582;

  --text-black: #000;
  --text-white: #fff;
  --text-orange: #ff4632;
  --text-blue: #2d46b9;
  --text-purple: #cb1582;
  --text-azure: #a5ffef;
  --text-red: red;

  --body-text-size: 14px;
  --title-text-size: 16px;

  --footer-height: 120px;

  --viewport-padding: 32px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Microsoft Yahei", "Crimson+Text", sans-serif;
  color: var(--text-primary);
  line-height: 1.6;
  font-size: var(--body-text-size);
  font-weight: 500;
  min-height: 100vh;
  background: var(--bg-primary);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

input {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  display: block;
}

button {
  display: flex;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--text-primary);

  &:focus {
    outline: none;
  }
}
