.searchContainer {
  background: var(--bg-lighter);
  padding: var(--viewport-padding);
}

.gameContianer {
  display: flex;
  flex-wrap: wrap;
  background: var(--bg-lighter);
  padding: 50px var(--viewport-padding);
  padding-top: 0;
}

.notfound {
  color: var(--text-on-lighter);
}
