.searchContainer {
  background: var(--bg-lighter);
  padding: var(--viewport-padding);
}

.gameContianer {
  display: flex;
  flex-wrap: wrap;
  background: var(--bg-lighter);
  padding: 0 var(--viewport-padding);
}

.notfound {
  color: var(--text-on-lighter);
}

.paginationContainer {
  background: var(--bg-lighter);
  padding: var(--viewport-padding);
}
